# Schutz: setup.php und admin.php nicht ohne key erreichbar
# config.php und db.php komplett sperren

<Files "config.php">
    Require all denied
</Files>

<Files "db.php">
    Require all denied
</Files>
